body{ 
 
  padding: 1% 30%;
}

div {
  margin-left: 35px;
 
}

ul {
  float: left;
  font-size: 20px; 
  margin: 0px;
 
}

li {
  list-style: none;
  padding: 2px;
}

h4 {
  font-style: italic;
  font-size: 18px;
}